*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font: 1em "Bebas Neue", "Helvetica Neue", Helvetica, Arial, sans-serif,
    cursive;
  overflow-x: hidden;
}
p {
  line-height: 1.3;
  margin-bottom: 20px;
}
a,
a:hover {
  text-decoration: none;
}
.navigation {
  width: 100%;
  height: 70px;
  background: transparent;
}
.front {
  background: url(images/hero.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}
@media (max-width: 700px) {
  .navigation {
    background: #efefef;
  }
}

.navigation a {
  /* color: #666666; */
  text-decoration: none;
}
.navigation a:hover {
  /* color: #262626; */
  text-decoration: none;
}
.brand {
  position: absolute;
  float: left;
  padding-left: 20px;
  color: #262626;
}
.brand a {
  color: #262626;
  font-size: 1.4em;
  font-family: ;
  text-decoration: none;
  font-weight: 600;
}
.brand a:visited,
.brand a:active {
  /* color: #262626; */
}
.brand a:hover {
  text-decoration: none;
}
footer {
  background: #414f6bf0;
  height: 71px;
  width: 100vw;
}
footer .brand {
  position: relative;
  margin-left: 20%;
}
footer .copyright {
  width: 35%;
  float: right;
}

footer .copyright p {
  margin-top: 5%;
  color: #fff;
  letter-spacing: 1px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
}
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0px;
}
.nav-dropdown {
  display: none;
  position: absolute;
  left: 0;
  width: 200px;
  z-index: 1;
}
nav {
  float: right;
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
}
nav ul {
  list-style: none;
  text-align: left;
}
nav ul li {
  float: left;
  display: inline;
  position: relative;
}
nav ul li a {
  display: block;
  color: #06041c;
  padding: 0 20px;
  line-height: 70px;
  background: transparent;
  font-family: "lato";
  font-weight: 600;
  letter-spacing: 1px;
}
@media (max-width: 700px) {
  nav ul li a {
    background: #efefef;
  }
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  text-decoration: none;
}
nav ul li > a:hover {
  background: #dedede;
  color: #262626;
}
nav ul li > a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  width: 190px;
}
nav ul li ul li a {
  background: #efefef;
  display: block;
  padding: 15px;
  line-height: 20px;
  z-index: 1;
}
nav ul li ul li a:hover {
  background: #dedede;
  color: #262626;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #efefef;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 768px) {
  .nav-mobile {
    display: block;
  }
  .logo {
    position: absolute;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    width: 100%;
    float: none;
  }
  nav ul li > a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li:hover .nav-dropdown {
    display: none;
  }
  nav ul li ul li a {
    line-height: 20px;
  }
  .nav-dropdown {
    position: static;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle-2 {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle-2 span,
#nav-toggle-2 span:before,
#nav-toggle-2 span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #262626;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle-2 span:before {
  top: -10px;
}
#nav-toggle-2 span:after {
  bottom: -10px;
}
#nav-toggle-2.active span {
  background-color: transparent;
}
#nav-toggle-2.active span:before,
#nav-toggle-2.active span:after {
  top: 0;
}
#nav-toggle-2.active span:before {
  transform: rotate(45deg);
}
#nav-toggle-2.active span:after {
  transform: rotate(-45deg);
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #262626;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
.front .navigation li a {
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "lato";
  font-weight: 600;
  letter-spacing: 1px;
}
.front .navigation li a:hover {
  background: none;
  color: #005;
}
.fixed {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.margin {
  margin-top: 75px;
}
#title {
  text-align: center;
  margin: 20px 0 20px 0;
  font-size: 10vw;
  padding: 0px;
  color: transparent;
  font-family: "8BITWONDERNominal", sans-serif;
  text-shadow: 5px -5px 0 #fcb42a, 1px -1px 0 #f7f461, 0px 0px 0 #2e2e2e,
    -1px 2px 0 #2c2c2c, -2px 3px 0 #2a2a2a, -3px 4px 0 #282828,
    -4px 5px 0 #262626, -5px 6px 0 #242424, -6px 7px 0 #222, -7px 8px 0 #202020,
    -8px 9px 0 #1e1e1e, -9px 10px 0 #1c1c1c, -10px 11px 0 #1a1a1a,
    -11px 12px 0 #181818, -12px 13px 0 #161616, -13px 14px 0 #141414,
    -14px 15px 0 #121212, -10px 15px 30px rgba(0, 0, 0, 0.9);
}

.forback {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.logo {
  width: 30px;
  height: 30px;
}

.section2 {
  background: linear-gradient(#0d0f4e3d, #0000), url(images/peak.jpg);
  width: 100vw;
  background-size: cover;
  min-height: 90vh;
  background-position: top;
}
.section3 {
  background: linear-gradient(#0d0f4e3d, #0000), url(images/la-1.jpg);
  width: 100vw;
  background-size: cover;
  min-height: 100vh;
  background-position: top;
}

.section3 .box {
  background: #fff;
}

.section3 .head-box {
  background: #414f6b;
  height: 35px;
  padding: 0 11%;
}

.head-box span {
  font-size: 1.3rem;
  padding: 6.5px 2%;
  font-family: lato;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 36px;
  color: #ccc;
}
.head-box span.active {
  background: #ddd;
  color: #414f6b;
  text-decoration: underline;
}
.head-box span:hover {
  background: #ccc;
  color: #303e5c;
  text-decoration: underline;
  cursor: pointer;
}

.section3 .panel-box {
  width: 30%;
  background: #fffd;
  margin-top: 6%;
  margin-left: 13%;
  padding: 2% 3.5%;
}

.section3 .panel-box table {
  display: table;
  width: 100%;
  font-family: lato;
  font-size: 0.9rem;
  display: none;
}

.section3 .panel-box table tr td:nth-child(1) {
  padding-right: 9%;
}

.section3 .panel-box table tr.end td {
  padding-bottom: 4%;
}

.panel-box h1 {
  margin-top: 0;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #333e54;
  margin-bottom: 2%;
}
.section2 .navigation {
  background: #fff;
}

.logo2 {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

.logoname {
  margin-top: 12px;
  display: inline-block;
  margin-bottom: 0;
}

.logoname span {
  font-size: 1.5rem;
  display: block;
  line-height: 1;
}

.logoname span:nth-child(2) {
  color: #414f6b;
  letter-spacing: 0.8px;
}

footer .logoname span {
  color: #ffffff !important;
}
footer:after {
  content: "";
  position: absolute;
  height: 71px;
  width: 100vw;
  left: 0;
  background: #05021fa1;
}

.box h6 {
  padding: 0px 28%;
  font-family: "lato";
  margin-bottom: 36vh;
  font-weight: 500;
  font-size: 12px;
  text-align: justify;
}

.Head {
  font-size: 2.2rem;
  font-family: "Bebas Neue", cursive;
  color: #0d2635c4;
  margin-bottom: 0;
  margin-top: 11vh;
}
.section3 .Head {
  margin-top: 0vh;
  padding-top: 4vh;
  padding-left: 18%;
  width: 40%;
  display: inline-block;
}

.section3 h6 {
  vertical-align: middle;
  width: 59%;
  display: inline-block;
  padding: 0 10% 0px 0;
  margin-bottom: 13vh;
}

.Head .number {
  font-family: "Bebas Neue", cursive;
  font-size: 7rem;
  color: #150d468a;
  line-height: 7rem;
  margin-left: 27%;
}

.Head .title {
  position: absolute;
  margin-top: 2%;
  margin-left: 0.2%;
  font-size: 2.3rem;
  top: unset;
}

.Head .number:after {
  content: ".";
  position: absolute;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}
.owl-nav button:focus {
  outline: none;
}
.carousel-box {
  background: #414f6bd1;
  padding: 1% 0;
}

.carousel-box .owl-nav {
  display: none;
}

.carousel-box .owl-dots span {
  height: 5px;
  width: 5px;
  background: #fff;
}
.owl-slider {
  width: 60%;
  margin: auto;
}

.owl-slider .owl-item {
  width: 220px !important;
}
.owl-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: #fff;
  display: inline-block;
  margin: 0 10px;
}
.owl-dot.active {
  background: #1a1b25;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2220;
  box-shadow: #0006 0px 1px 10px;
}
@media (max-width: 426px) {
  .front {
    height: 53vh;
  }
  .section3 {
    min-height: 90vh;
  }
  .section3 .Head {
    width: 100%;
  }
  .section3 .Head .number {
    margin-left: 24vw;
  }

  .section3 .box h6 {
    display: block;
    width: 100vw;
  }
  .box h6 {
    padding: 7% 5%;
    margin-bottom: 7vh;
    color: #ffffff;
    background: #111226de;
  }
  .head-box span {
    font-size: 0.8rem;
    padding: 11px 2%;
  }
  .section3 .panel-box {
    width: 90%;
    margin-left: 5%;
    font-size: 0.9rem;
  }
  footer .brand {
    position: relative;
    margin-left: 0;
  }
  footer .copyright {
    width: 43%;
    float: right;
  }
}
@media (max-width: 1440px) {
  .section3 h6 {
    padding: 0;
  }
  .section3 .Head {
    padding-left: 18%;
  }
}

@media (max-width: 1024px) {
  .section3 .Head {
    padding-left: 0;
  }
}
